<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ARABAH.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
				<key>dateExpires</key>
				<string>15/01/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AdvancedPageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Algorithms.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardNotification.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardReturnManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardToolbar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardToolbarManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQTextInputViewNotification.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MercariQRScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PhoneNumberKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RangeSeekSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMessageBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CFC0CC0BDEDD62181D835A19BE94E7C8527684</string>
						<key>dateExpires</key>
						<string>15/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MZBPN924PM</string>
						<key>name</key>
						<string>Muaz Kawther</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MZBPN924PM.com.lives.Arabah</string>
				<key>com.apple.developer.team-identifier</key>
				<string>MZBPN924PM</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ARABAH.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7da76693-7ba1-4c35-b6bc-7c1500a379bf</string>
				<key>dateExpires</key>
				<string>15/01/26</string>
				<key>name</key>
				<string>devprofileArabha</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MZBPN924PM</string>
				<key>name</key>
				<string>Muaz Kawther</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
